<div class="modal-header">
    <h3 class="modal-title">Register</h3>
</div>
<div class="modal-body">

  <div ng-show="vm.error" class="alert alert-danger">{{vm.errorMessage}}</div>
  <form class="form" ng-submit="vm.register()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="vm.loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" ng-model="vm.loginForm.password" required>
    </div>
    <div>
      <button type="submit" class="btn btn-default" ng-disabled="disabled">Registrar</button>
    </div>
  </form>
</div>
