<md-dialog aria-label="Registrar"  ng-cloak flex="20">
  <form name="userForm" ng-submit="vm.register()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Registrar</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Usuário</label>
          <input ng-model="vm.loginForm.username">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>E-mail</label>
          <input ng-model="vm.loginForm.username">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Senha</label>
          <input type="password" ng-model="vm.loginForm.password">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="submit" class="md-primary">
        Confirmar
      </md-button>
      <md-button ng-click="vm.cancel()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
